<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Songs List</title>
</head>
<body>
<header>
    <h1>All Songs</h1>
</header>
<main>

    <div th:if="${error != null}" th:text="${error}" style="color: red;"></div>

    <th:block sec:authorize="hasRole('ROLE_ADMIN')">
        <a href="/songs/edit-form" style="margin-bottom: 20px; display: inline-block;">
            <button>Create New Song</button>
        </a>
    </th:block>

    <table border="1">
        <thead>
        <tr>
            <th>Title</th>
            <th>Genre</th>
            <th>Release Year</th>
            <th>Album</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="song : ${songs}">
            <td th:text="${song.getTitle()}"></td>
            <td th:text="${song.getGenre()}"></td>
            <td th:text="${song.getReleaseYear()}"></td>
            <td th:text="${song.getAlbum().getName()}"></td>
            <td>
                <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                    <a th:href="@{'/songs/edit-form/' + ${song.getId()}}">
                        <button>Edit</button>
                    </a>
                    <form th:action="@{'/songs/delete/' + ${song.getId()}}" th:method="POST" style="display:inline;">
                        <button type="submit">Delete</button>
                    </form>
                </th:block>
                <a th:href="@{'/songs/album/' + ${song.getAlbum().getId()}}">
                    <button>View Album Songs</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</main>
</body>
</html>